@import "tailwindcss"; /* [cite: 6, 7] */

@theme {
  --font-barlow: "Barlow", sans-serif; /* [cite: 7] */
  --font-poppins: "Poppins", sans-serif; /* [cite: 7] */
  --color-hijau: #00B074; /* [cite: 9] */
  /* Tambahkan warna merah Anda di sini */
}

body {
  @apply font-barlow; /* [cite: 8] */
}